
    <%- include('./partials/navbar.ejs') %>
    <h2>Anime Details</h2>

    <h4><%= dd.Title %></h4>
    <h4><%= dd.About %></h4>
    <p><%= dd.Note %></p>
    
    

    <%- include('./partials/footer.ejs') %>
